.button-style {
  width: 30%;
  height: 70px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: #74B9FF;
  border-radius: 8%;
  font-weight: bold;
  margin-top: 2%;
}
.button-style:hover {
  color: #FFAD72;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fullwidth-center {
  width: 100%;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: #e9f4ff;
  max-width: 100%;
  margin: 0 auto;
}
p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 2%;
}
i {
  color: #FFAD72;
  width: 110%;
}
h3 {
  font-weight: bold;
  font-size: 4rem;
}
#highlight {
  color: #f78d42;
  font-weight: 600;
}
.navigation {
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bcddff;
}
@media (max-width: 500px) {
  .navigation {
    width: 100% !important;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .navigation {
    width: 100%;
  }
}
nav {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 150%;
  }
}
@media (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
nav a {
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #636E72;
}
nav a:hover {
  color: #FFAD72;
}
@media (max-width: 1366px) {
  nav a {
    font-size: 2rem;
  }
}
.navlogo {
  height: 200px;
  margin-left: 2%;
}
@media (max-width: 500px) {
  .navlogo {
    display: none;
  }
}
@media (max-width: 800px) {
  .navlogo {
    display: none;
  }
}
.ctaimg {
  width: 100%;
}
@media (max-width: 500px) {
  .ctaimg {
    width: 83%;
    margin-left: -18%;
  }
}
.trim {
  max-height: 900px;
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 1366px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.headlinecta {
  font-size: 6rem;
  position: absolute;
  width: 30%;
  color: #636E72;
  bottom: 50%;
  top: 15%;
  left: 8%;
}
@media (max-width: 500px) {
  .headlinecta {
    font-size: 1.4rem;
    font-weight: bold;
    bottom: 0%;
    top: 10%;
  }
}
@media (max-width: 800px) {
  .headlinecta {
    font-size: 1.2rem;
    margin-top: 10%;
    font-weight: bold;
    bottom: 0%;
  }
}
@media (max-width: 1366px) {
  .headlinecta {
    font-size: 1.4rem;
    margin-top: 0%;
    font-weight: bold;
    bottom: 0%;
  }
}
@media (max-width: 1680px) {
  .headlinecta {
    font-size: 5rem;
  }
}
h1 {
  margin-right: 5%;
  margin-top: -6%;
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 1366px) {
  h1 {
    font-size: 5rem;
  }
}
button {
  width: 30%;
  height: 70px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: #74B9FF;
  border-radius: 8%;
  font-weight: bold;
  margin-top: 2%;
}
button:hover {
  color: #FFAD72;
}
@media (max-width: 500px) {
  button {
    width: 90%;
    font-size: 1.4rem;
    height: 50px;
    margin-bottom: 3%;
  }
}
@media (max-width: 800px) {
  button {
    width: 90%;
    font-size: 1.4rem;
    height: 50px;
    margin-bottom: 3%;
  }
}
#luncher {
  color: #41484b;
  font-size: 9rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  #luncher {
    font-size: 2rem !important;
  }
}
@media (max-width: 800px) {
  #luncher {
    font-size: 3rem;
  }
}
@media (max-width: 1680px) {
  #luncher {
    font-size: 5rem;
  }
}
footer {
  background-color: #404647;
  opacity: 0.7;
  padding: 2% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 1366px) {
  footer {
    padding: 0;
  }
}
@media (max-width: 1680px) {
  footer {
    height: 40vh;
  }
}
.footersection2 {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footersection3 {
  width: 25%;
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1366px) {
  .footersection3 {
    width: 40%;
    font-size: 1.6rem;
    margin-right: 20%;
  }
}
@media (max-width: 1680px) {
  .footersection3 {
    width: 40%;
    font-size: 1.6rem;
    margin-right: 10%;
  }
}
#footernav a {
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #FFAD72;
  padding: 20px;
}
@media (max-width: 500px) {
  #footernav a {
    display: none;
  }
}
@media (max-width: 800px) {
  #footernav a {
    display: none;
  }
}
@media (max-width: 1680px) {
  #footernav a {
    font-size: 2rem;
  }
}
#footernav a:hover {
  color: #74B9FF;
}
.footertext {
  width: 100%;
  padding-left: 1%;
  color: #FFAD72;
}
@media (max-width: 500px) {
  .footertext {
    display: inline-block;
    text-align: center;
    margin-left: 100%;
    white-space: nowrap;
  }
}
@media (max-width: 800px) {
  .footertext {
    display: inline-block;
    text-align: center;
    margin-left: 100%;
    white-space: nowrap;
  }
}
@media (max-width: 1366px) {
  .footertext {
    display: inline-block;
    text-align: center;
    margin-left: 100%;
    white-space: nowrap;
    margin-top: 55%;
  }
}
@media (max-width: 500px) {
  #phrase {
    display: none;
  }
}
@media (max-width: 800px) {
  #phrase {
    display: none;
  }
}
@media (max-width: 1366px) {
  #phrase {
    display: none;
  }
}
@media (max-width: 1680px) {
  #phrase {
    display: none;
  }
}
.iconbox {
  display: flex;
  justify-content: space-evenly !important;
  width: 100% !important;
  margin-top: 0.6%;
}
@media (max-width: 800px) {
  .iconbox {
    margin-left: 30%;
  }
}
@media (max-width: 500px) {
  .iconbox {
    margin-left: 0;
  }
}
.visionsection {
  background-color: #cfe4f8;
  width: 75%;
  margin-left: 25%;
}
@media (max-width: 500px) {
  .visionsection {
    display: none;
  }
}
@media (max-width: 800px) {
  .visionsection {
    width: 100%;
    margin-left: 0%;
  }
}
@media (max-width: 1366px) {
  .visionsection {
    width: 100%;
    margin-left: 0%;
  }
}
#luncher2 {
  color: #41484b;
  font-size: 4rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  #luncher2 {
    font-size: 2rem !important;
  }
}
@media (max-width: 800px) {
  #luncher2 {
    font-size: 3rem;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  width: 100%;
  justify-content: center;
  margin-top: 3%;
}
#vision {
  font-size: 6rem;
  margin-right: 20%;
  border-bottom: 2px solid #FFAD72;
}
.summaryp {
  width: 40%;
  font-size: 3rem;
  margin-left: 19%;
  margin-top: 1.5%;
}
@media (max-width: 800px) {
  .summaryp {
    width: 80%;
    margin-right: 20%;
  }
}
.pblock {
  font-size: 2rem;
  width: 40%;
  margin-left: 1%;
}
@media (max-width: 500px) {
  .pblock {
    width: 100%;
    margin-right: 3%;
  }
}
@media (max-width: 800px) {
  .pblock {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1366px) {
  .pblock {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
  }
}
section {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.contentblock {
  display: flex;
  width: 90%;
  border-bottom: 1px solid #636E72;
}
@media (max-width: 500px) {
  .contentblock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
  }
}
@media (max-width: 800px) {
  .contentblock {
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
.textblock {
  margin-top: 6%;
  width: 45%;
}
@media (max-width: 500px) {
  .textblock {
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
  }
}
@media (max-width: 800px) {
  .textblock {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
  }
}
@media (max-width: 1366px) {
  .textblock {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
  }
}
.contentimg {
  width: 40%;
  margin: 5%;
}
@media (max-width: 500px) {
  .contentimg {
    width: 100%;
    margin-left: 5%;
  }
}
#contentreverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  #contentreverse {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#reverseblock {
  margin-top: 10%;
  margin-left: 27%;
  width: 100%;
}
@media (max-width: 500px) {
  #reverseblock {
    margin-left: 50%;
  }
}
@media (max-width: 800px) {
  #reverseblock {
    margin-right: 25%;
    margin-left: 0%;
  }
}
@media (max-width: 1366px) {
  #reverseblock {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
  }
}
#reversepblock {
  width: 80%;
  margin-top: 2%;
}
@media (max-width: 500px) {
  #reversepblock {
    width: 80%;
  }
}
.CTA2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2c4661;
}
@media (max-width: 800px) {
  .CTA2 {
    flex-direction: column;
  }
}
#cta2img {
  height: 80vh;
}
@media (max-width: 500px) {
  #cta2img {
    display: none;
  }
}
@media (max-width: 800px) {
  #cta2img {
    width: 100%;
    height: 50vh;
  }
}
.cta2h2 {
  font-size: 7rem;
  width: 75%;
  margin: 1%;
  border-bottom: 2px solid #636E72;
}
@media (max-width: 500px) {
  .cta2h2 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .cta2h2 {
    width: 100%;
    text-align: center;
  }
}
.ctatextblock {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #74B9FF;
}
@media (max-width: 500px) {
  .ctatextblock {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .ctatextblock {
    width: 100%;
  }
}
#signupp {
  width: 80%;
}
