.ctaimg{
    width: 100%;
}

header{
    position: relative;
    text-align: center;
    color: white;
}

.headlinecta{
    font-size: 8rem;
    position: absolute;
    width: 30%;
    color: @gray;
    bottom: 50%;
    left: 8%;
}

button{
    width: 30%;
    height: 70px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: @blue;
    border-radius: 8%;
    font-weight: bold;
    margin-top: 2%;

    &:hover{
        color: @orange;
      }
}