footer{
    background-color: rgb(64, 70, 71);
    opacity: .7;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media @phone{
        flex-direction: column;
    }

    @media @smaller{
        padding: 0;
    }

    @media @medium{
        height: 40vh;
    }
    
}


.footertext{
    width: 100%;
    padding-left: 1%;
    color: @orange;

    @media @phone{
        display: inline-block;
        text-align: center;
        margin-left: 100%;
        white-space: nowrap;
    }

    @media @tablet{
        display: inline-block;
        text-align: center;
        margin-left: 100%;
        white-space: nowrap;
    }

    @media @smaller{
        display: inline-block;
        text-align: center;
        margin-left: 100%;
        white-space: nowrap;
        margin-top: 55%;
    }

}


.iconbox{
    display: flex;
    justify-content: space-evenly !important;
    width: 100% !important;
    margin-top: .6%;

    
    @media @tablet{
        margin-left: 30% 
    }

    @media @phone{
        margin-left: 0;
    }
    
}

