* {
    box-sizing: border-box;
    
    
  }

html {
    font-size: 62.5%;
  }

html, body {
    font-family: 'Roboto', sans-serif;
    
    
  }
  p {
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 1%;
  }

  i{
      color: @gray;
      width: 110%;
  }