.visionsection{
    background-color: rgb(207, 228, 248);
    width: 90%;
    margin-left: 25%;
}

.summary{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    

    @media @phone {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin-top: 10%;
        margin-left: 30px;
    }
}   

#vision{
    font-size: 6rem;
    margin-right: 20%;
    border-bottom: 2px solid @orange;
}
.summaryp{
    width: 40%;
    font-size: 3rem;
    margin-left: 19%;
    margin-top: 1.5%;

    @media @phone {
        width: 100%;
        margin-top: 1%;
    }
}

.pblock{
    font-size: 2rem;
    width: 40%;
    margin-left: 1%;
}

section{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
    
    
}

.contentblock{
    display: flex;
    width: 90%;
    border-bottom: 1px solid @gray;

    @media @phone {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

.textblock{
    margin-top: 6%;
    width: 45%;

    @media @phone {
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
    }
}


.contentimg{
    width: 40%;
    margin: 5%;

    @media @phone {
        width: 100%;
        margin-left: 5%;
    }
}

#contentreverse{
    flex-direction: row-reverse;
    justify-content: flex-start;

    @media @phone {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

#reverseblock{
    margin-top: 10%;
    margin-left: 27%;
    width: 100%;
}

#reversepblock{
    width: 80%;
    margin-top: 2%;
}

.CTA2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(44, 70, 97);

}

#cta2img{
    height: 80vh;

    @media @phone{
        display: none;
    }
}


.cta2h2{
    font-size: 7rem;
    width: 90%;
    margin: 1%;
    border-bottom: 2px solid @gray;

    @media @phone{
        width: 50%;
    }
}

.ctatextblock{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: @blue;

    @media @phone{
        width: 90%;
    }
   
}

#signupp{
    width: 80%;
}
