.visionsection{
    background-color: rgb(207, 228, 248);
    width: 75%;
    margin-left: 25%;

    @media @phone{
        display: none;
    }

    @media @tablet{
        width: 100%;
        margin-left: 0%;
    }

    @media @smaller{
        width: 100%;
        margin-left: 0%;
    }
   
    }

    #luncher2{
        color: rgb(65, 72, 75);
        font-size: 4rem;
        font-weight: bold;
    
        @media @phone {
            font-size: 2rem !important;
    }
        @media @tablet{
            font-size: 3rem;
        }
    
    }
   
.summary{
    .column-center();
    font-size: 4rem;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}  

#vision{
    font-size: 6rem;
    margin-right: 20%;
    border-bottom: 2px solid @orange;
}
.summaryp{
    width: 40%;
    font-size: 3rem;
    margin-left: 19%;
    margin-top: 1.5%;

    @media @tablet{
        width: 80%;
        margin-right: 20%;
    }
}


.pblock{
    font-size: 2rem;
    width: 40%;
    margin-left: 1%;

    @media @phone{
        width: 100%;
        margin-right: 3%;
    }

    @media @tablet{
        width: 80%;
        margin: 0 auto;
    }

    @media @smaller{
        width: 80%;
        margin: 0 auto;
        margin-top: 2%;
    }
}

section{
    font-size: 2rem;
    .column-center();
    margin-top: 2%;
    
    
    
}

.contentblock{
    display: flex;
    width: 90%;
    border-bottom: 1px solid @gray;

    @media @phone {
        width: 100%;
        .column-center();
        margin-right: 3%;
    }

    @media @tablet{
        flex-direction: column !important;
        align-items: center;
        justify-content: space-evenly;
        width: 100%
    }
}

.textblock{
    margin-top: 6%;
    width: 45%;

    @media @phone {
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
    }

    @media @tablet {
        .fullwidth-center();
        margin-top: 5%;
        margin-left: 5%;
    }

    @media @smaller {
        .fullwidth-center();
        margin-top: 5%;
        margin-left: 5%;
    }
}


.contentimg{
    width: 40%;
    margin: 5%;

    @media @phone {
        width: 100%;
        margin-left: 5%;
    }
}

#contentreverse{
    flex-direction: row-reverse;
    justify-content: flex-start;

    @media @phone {
        width: 90%;
        .column-center();
        
    }

}

#reverseblock{
    margin-top: 10%;
    margin-left: 27%;
    width: 100%;

    @media @phone{
        margin-left: 50%;
        
    }

    @media @tablet{
        margin-right: 25%;
        margin-left: 0%;
    }

    @media @smaller {
        .fullwidth-center();
        margin-top: 5%;
        margin-left: 5%;
    }
}

#summermeals{
    text-align: center !important;
}

#reversepblock{
    width: 80%;
    margin-top: 2%;

    @media @phone{
        width: 80%;
        margin-left: 20% !important;
    }

 
}

.CTA2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(44, 70, 97);

    @media @tablet{
        flex-direction: column;
    }

}

#cta2img{
    height: 80vh;

    @media @phone{
        display: none;
    }

    @media @tablet{
        width: 100%;
        height: 50vh;
    }
}


.cta2h2{
    font-size: 7rem;
    width: 75%;
    margin: 1%;
    border-bottom: 2px solid @gray;

    @media @phone{
        .fullwidth-center();
        font-size: 5rem;
    }

    @media @tablet{
        .fullwidth-center();
    }
}

.ctatextblock{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: @blue;

    @media @phone{
        width: 100%;
    }

    @media @tablet{
        width: 100%;
    }
   
}

#signupp{
    width: 80%;
}
