.summary{
    display: flex;
    font-size: 4rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;

    @media @phone {
        display: flex;
        flex-direction: column;
        max-height: 30% !important;
        margin-top: 220px;
        margin-left: 30px;
    }
}   

.summaryp{
    width: 40%;

    @media @phone {
        width: 100%;
        margin-top: 1%;
    }
}

section{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
    
    
}

.contentblock{
    display: flex;
    width: 90%;
    border-bottom: 1px solid @gray;

    @media @phone {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.textblock{
    margin-top: 15%;
    width: 45%;

    @media @phone {
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
    }
}


.contentimg{
    width: 40%;
    margin: 5%;

    @media @phone {
        width: 100%;
        margin-left: 25%;
    }
}

#contentreverse{
    flex-direction: row-reverse;

    @media @phone {
        width: 100%;
        flex-direction: column;
        align-items: center;
    
}

.CTA2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(44, 70, 97);

}
.cta2img{
    width: 50%;
    margin-top: 3%;
    margin-left: 2%;
}

.cta2h2{
    font-size: 7rem;
    width: 20%;
    margin: 1%;
}

.ctatextblock{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: @blue;
    color: red;
    
    
}

}