.navigation{
    width: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(188, 221, 255);

    @media @phone {
        width: 130%;
        justify-content: center;
    }
}
nav{
    width: 70%;
    display: flex;
    justify-content: flex-start;

    @media @phone {
        display: flex;
        flex-direction: column;
        width: 150%;
    }
}
nav a{
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: @gray;

    &:hover{
        color: @orange;
      }

}

.navlogo{
    height: 200px;
    margin-left: 2%;

    @media @phone {
        display: none;
    }
}